.card {
    width:18em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 5%;
    min-height: 1000px;
}
.possibles {
    display: flex;
    justify-content: space-evenly;
}
.map {
    height: 300px;
}
