.centerSpinner {
    margin-left: 40%;
    margin-top: 10%;
}

.display-area {
    border-left: 5px solid black;
    border-right: 5px solid black;
    background: lightgrey;
    display: inline-flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
